@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

body {
		font-family: 'Montserrat', sans-serif;
		background-color: #1a1a1a;
}

h1 {
		font-size: 45px;
		color: white;
		text-align: center;
}

h2 {
		font-size: 30px;
		color: #7cc576;
		text-align: center;
}

h3 {
		color: white;
		padding-left: 10px;
}

p {
		color: white;
		font-size: 20px;
}

#question {
		padding-top: 18%;
}

#toplist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


html,body{
    margin:0;
    height:100%;
}
img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

table {
	border: 3px solid white;
	border-radius: 6px;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 1300px;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translateX(-50%) translateY(-50%);
}

::-webkit-scrollbar { 
    display: none; 
}

input {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 20px;
  transition: .3s ease;
  text-align: center;
  border-radius: 6px;
}
input:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: rgba(255, 255, 255, 0.5);
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #2196f3;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}
#answerInput { 
	margin: 0 auto;
	margin-top: 40px;
    text-align: center;
	color: white;
}

@-moz-keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 50px;
}
}
@-webkit-keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 50px;
}
}
@keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 50px;
}
}
@keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 120px;
}
}
@-webkit-keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 120px;
}
}
@-moz-keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 120px;
}
}

input[type=checkbox] { display: none; }

.check-box {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 10px solid black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}


label {
	font-size: 8px;
}

.check-box::before,
.check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 20px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 72px;
  left: 41px;
  box-shadow: 0 0 0 5px #1a1a1a;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.check-box::after {
  top: 37px;
  left: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked { border-color: #34b93d; }

input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.container {
  box-sizing: border-box;
  padding: 0 25px 25px;
  text-align: center;
}

.container h2 { margin-bottom: 40px; margin-top:150px; }

.container p { margin-top: 40px; }

.stname {
	color: #d9df82;
}